.div01{

    padding: 40px;
    margin-left: 40px;
    margin-top: 220px;
}
#div02{
    margin: 40px;
}
body{
    background-image: url(71f4b56a-30a5-4d05-840d-12a48407d3b7.webp);
}
#txt1{
    margin-right: 20px;
    width: 300px;
    height: 40px;
}
#b1{
    width: 100px;
}